#title{
	border: solid 1px #ccc;
	font-size: 16px;
	height: 66px;
	line-height: 66px;
	padding-left: 5px;
	position: relative;
	box-shadow: 0px 3px 3px rgba(0,0,0,0.07);
}

#rightspan{
	color: #E9E0E9;
	font-size: 14px;
	position: absolute;
	right: 5px;
	top: 0;
}

#rightspan a{
	color: #616161;
	text-decoration: none;
}

#proview{
	width: 1226px;
	height:500px;
	position: relative;
}

#proview img{
	max-width: 462px;
	max-height: 538px;
	position: absolute;
	top: 60px;
	left: 60px;
}

#proviewdescription{
	width:730px;
	height:618px;
	position: absolute;
	right: 0;
	top: 0;
}

h3{
	font-size:22px;
	padding-top: 30px;
	color: #212121;
	font-weight: lighter;
	border-bottom:solid 1px #eee;
}

.p1{
	color: #B0B0B0;
	font-size: 14px;
	line-height: 24px;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-right: 5px;
}

.p1 span{
	color: #FF4A00;
}

p.price{
	color: #ff6700;
	font-size: 28px;	
	margin:10px 0;
}

.btnaddtocar{
	display:block;
	width: 300px;
	height: 54px;
	background-color: #ff6700;
	color: #fff;
	text-align: center;
	line-height:54px;
	font-size: 18px;
	margin-top: 30px;
	border-radius:0px;
	margin-bottom: 20px;
	text-decoration: none;
	border:0;
}

.briefdiv{
	background-color:#eee;
	padding:15px;
	border-radius:8px;
	margin-top:20px;
}

p.reback{
	padding-left: 30px;
	background-image: url(../img/proviewicon.png);
	background-repeat: no-repeat;
	background-position: 0 -5px;
}

#list{
	line-height:30px;
	font-size:14px;
}
